ldflags="$ldflags $pie -lbuild"

out=bin/build-dep
libs=libbuild
src="\
	src/build-dep.c
	cbits/src/errmsg.c
	cbits/src/errorstring.c
	cbits/src/iobuf.c"

if [ "$cpoly_use_bundled" ]; then src="$src
	libcpoly/src/progname.c"
fi

# vi: sw=4 ts=4 noet tw=80 cc=80 ft=sh
