#!scripts/target.build

ldflags="$ldflags $pie"

out=bin/build
libs=
src="\
	src/build.c
	src/db.c
	src/db-strpool.c
	src/evloop.c
	src/fpath.c
	src/fd.c
	src/infile.c
	src/ipcserver.c
	src/proc.c
	src/sigstr.c
	src/task.c
	src/time.c
	src/tui.c
	cbits/src/errmsg.c
	cbits/src/errorstring.c
	cbits/src/fmt.c
	cbits/src/iobuf.c
	cbits/src/path.c"

# vi: sw=4 ts=4 noet tw=80 cc=80 ft=sh
