# This file is dedicated to the public domain.

ldflags="$ldflags $pie"

out=bin/build
libs=
src="\
	src/build.c
	src/db.c
	src/db-strpool.c
	src/evloop.c
	src/fpath.c
	src/fd.c
	src/infile.c
	src/ipcserver.c
	src/proc.c
	src/sigstr.c
	src/task.c
	src/time.c
	src/tui.c
	cbits/src/errmsg.c
	cbits/src/errorstring.c
	cbits/src/fmt.c
	cbits/src/iobuf.c
	cbits/src/path.c"

if [ "$cpoly_use_bundled" ]; then src="$src
	libcpoly/src/arc4random/arc4random.c
	libcpoly/src/progname.c
	libcpoly/src/reallocarray.c
	libcpoly/src/strchrnul.c
	libcpoly/src/strtonum.c"
fi

# vi: sw=4 ts=4 noet tw=80 cc=80 ft=sh
