cflags="$cflags -fvisibility=hidden"
ldflags="$ldflags -shared -fvisibility=hidden"

out=lib/libbuild.so
libs=
src="\
	src/ipcclient.c
	src/libbuild.c
	cbits/src/errmsg.c
	cbits/src/errorstring.c
	cbits/src/iobuf.c"

# vi: sw=4 ts=4 noet tw=80 cc=80
